.mobileNav{
    position: absolute;
    display: grid;
    width: 100vw;
    grid-template-columns: 2fr 1fr;
}

.logo_wrapper{
    justify-self: flex-start;
    margin: 6rem 0 0 10rem;
}

.logo{
    background-image: url('./../../assets/img/logo.svg');
    min-width: 15rem;
    min-height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav > .mobNavigation{
    display: flex;
    flex-direction: column;
    margin: 4rem 4rem 0 0;
}



.menuItem{
    text-decoration: none;
    color: #ffffff;
    outline: none;
    text-align: right;
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.mobNavigation_active{
    color: #dadada;
    text-decoration: underline;
}


.mobSocial_buttons{
    display: flex !important;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
}

.mobSocial_buttons_link{
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.mobCopyright{
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    justify-self: right;
    text-align: right;
}

@media screen and (max-width: 600px){
    .logo_wrapper{
        margin: 20px 0 0 30px;
    }
}